.bgpst-container {
    position: relative;
    height: 400px;
}

.cp_list {
    cursor: pointer;
}
.asn_list {
    cursor: pointer;
}
.bgpst-header {
    padding: 10px;
    height: 40px;
    text-align: right;
}

.btn-group {
    padding-bottom: 3px;
}

.tokenfield.form-control{
    height: 34px;
    min-height: 34px;
    overflow-y: scroll;
    overflow-x: hidden;
}

small.help-block {
    display: none !important;
}

.first_row {
    padding: 0;
}

.title {
    margin:auto;
}

a#as_list_btn+.popover .popover-content {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 300px;
    padding: 0;
}

a#cp_list_btn+.popover .popover-content {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 300px;
}

.canvas_container {
    width: 100%;
    padding: 0;
}

.canvas_container > svg{
    width: 100%;
    height: 100%;
}

.mini_svg {
    height: 70px;
}

.main_svg {
    height: 300px;
}

.controls_container {
    position: relative;
    padding: 0;
}

.radio {
    margin:0;
}

.fullsized {
    width: 100%;
}

.text_centerd {
    text-align: center
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

input.bar {
    width: 50px !important;
    white-space: nowrap;
    vertical-align: middle;
}

.righ_radius {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.svg_tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    opacity: 1;
    margin-top: -20px;
    font: 10px sans-serif;
    background: #ddd;
    pointer-events: none;
    border-radius: 5px;
    z-index: 1000;
}

svg > .area, .layer {
    cursor: crosshair;
}

.full_screen {
    /*position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hidden{
    display: none;
    visibility: hidden;
}

.on_top_z_index {
    z-index: 999999;
}

.base_z_index {
    z-index: 0;
}

.blur{
    -webkit-animation: blurrer 50ms ease-in;
    -moz-animation: blurrer 50ms ease-in;
    -ms-animation: blurrer 50ms ease-in;
    -o-animation: blurrer 50ms ease-in;
    animation: blurrer 50ms ease-in;
    animation-fill-mode: forwards;
}

/* Animation */

@-webkit-keyframes blurrer {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
}
@-moz-keyframes blurrer {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
}
@-o-keyframes blurrer {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
}
@keyframes blurrer {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
}

.not-active {
    pointer-events: none;
    /*cursor:not-allowed;*/
}

/**heatmap**/
rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}


/*ok span*/
span.glyphicon-ok{
    margin-left: auto;
    padding-right: 10%;
}

span.ui-spinner.ui-corner-all.ui-widget.ui-widget-content{
    margin-left: auto;
}

ul.dropdown-menu.repositioned {
    margin-top: 15px;
    margin-right: 4px;
}

ul.dropdown-menu.repositioned a {
    width: 100%;
}

ul.dropdown-menu.repositioned span.ui-spinner.ui-corner-all.ui-widget.ui-widget-content {
    width: auto;
    display: inline-flex;
    padding: 3px 20px;
    float: right;
}

ul.dropdown-menu.repositioned span.ui-spinner.ui-corner-all.ui-widget.ui-widget-content ^ li{
    width: auto;
}


/*jquery drag*/
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.drag_sort_list li.placeholder {
    position: relative;
    /** More li styles **/
}

ol.drag_sort_list li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}



/** as and cp list**/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/** FOR RIGHT ARROWS **/
.dropdown-submenu.right_arrows>a:after{
    display:block;
    content:" ";
    float:left;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 5px 5px 0;
    border-right-color:#ccc;
    margin-top:5px;
    margin-right:10px;
}

/** MODDING THE BOOTSTRAP **/
.dropdown-menu.no_top_padding{
    overflow-y: scroll;
    height: 300px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu.asn_list {
    /*min-width: auto;*/
    width: auto;
}

.dropdown-menu.asn_list > li{
    padding: 3px 20px;
    text-align: center;
    border: gray;
    border-style: inherit;
    border-width: inherit;
    white-space: nowrap;
}

.dropdown-menu.cp_list {
    /*min-width: auto;*/
    width: auto;
}


.dropdown-menu.cp_list > li{
    padding: 3px 20px;
    text-align: center;
    border: gray;
    border-style: inherit;
    border-width: inherit;
    white-space: nowrap;
}

.footer {
    /*position: fixed;*/
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 30px;
}

.footer button {
    margin-top: 0;
    margin-bottom: 0;
    height: 20px;
    padding-top: 0;
}

.footer .navbar {
    margin:0;
}

.footer .container-fluid {
    /*position: fixed;*/
    bottom: 0;
}


/************* BRUSH **************/
.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.datetimepicker{
    z-index: 100000!important;
}