<div class="main">
    <div class="title">{{lang.title}}</div>
    <div class="controller">
        <div>Years:
            <span class="value-slider-start">{{timeRange.min}}</span> -
            <span class="value-slider-stop">{{timeRange.max}}</span>
        </div>
        <div class="slider  bootstrap-slider">
            <div class="input-label"> </div>
            <input type="text"/>
        </div>
    </div>
    <div class="table-right"></div>
    <div class="map-container">
        <svg></svg>
    </div>
    <div class="barchart-container">
        <svg></svg>
    </div>
</div>

